html {
    font-size: 16px;
    opacity: 0.9;
    background: rgba(23, 45, 67, 1);
}
body {
    font-size: 3rem;
    background: linear-gradient(to bottom, red, blue);

    p:matches(.one, .two) {
        font-size: 1rem;
        margin: initial;
    }
}
div {
	border-top-left-radius: 10px;
	clip: rect(10, 23, 45, 6);
	float: left;

	span {
		display: inline-block;
		min-height: 10px;
		opacity: 0.5;
		transform: rotate(90deg);
	}
}
