:root {
	var-color: color(#333 blue);
}
html {
	var-mola: color(var(color) gray);
    font-size: 16rem;
    opacity: 0.9;
    color: var(color);
    background-color: var(mola);
    background: rgba(23, 45, 67, 1);

    p:matches(.one, .two) {
        font-size: 1rem;
        margin: initial;
    }
}

body {
    font-size: 3rem;
    background: linear-gradient(to bottom, red, blue);

    p:matches(.one, .two) {
        font-size: 1rem;
        margin: initial;
    }
}
div {
	border-top-left-radius: 10px;
	clip: rect(10, 23, 45, 6);
	float: left;

	span {
		display: inline-block;
		min-height: 10px;
		opacity: 0.5;
        background: rgba(3, 4, 5, 0.4);
		transform: rotate(90deg);
	}
}
